*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height:540px;
	font-family: sans-serif;
	background:snow;
	color:black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main{
	width: 300px;
	height:400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*text-align: center;*/
	margin-top: 70px;
}
.inner{
	position: relative;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;

}
.inner h2{
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px
}
.input-box{
	width: 90%;
	background:transparent;
	margin: 6px 0;
	height: 32px;
	border-radius: 20px;
	padding:0 5px 0 5px;
	box-sizing: border-box;
	outline:none;
	text-align: center;
	margin-left: 12px;

}
.btn{
	width:100px;
	margin: 10px 0 10px 10px;
}
.avatr{
	 margin-left: 100px;
    margin-bottom: -50px;
    margin-top: -100px;
}
.adminback a{
    text-decoration: none;
    font-weight: lighter;
    color: #111111;
}
