
  .card-link{
   font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration:none;
    color:#98978b;;
  }
  .card-heading{
    border-color: #dfd7ca;
    background-color: #f8f5f0;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    padding:20px;
    text-transform: uppercase;
  }
.brand {
        background: #3e454c;
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
}
.brand a{
  text-decoration: none;
  text-align: center;
  color:#fff;
  padding:20px;
}
.adminname{
      font-size: inherit;
    padding: 20px;
    display: inline-block;
}
.brand .menu-btn {
    float: right;
    background: #232d3b;
    text-align: center;
    cursor: pointer;
    color: #fff;
    padding: 20px 20px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.brand .logo {
  box-sizing: border-box;
  padding: 20px;
  float: left;
  display: block;
  width: 200px;
}
@media only screen and (min-width: 992px) {
  .brand .logo {
    width: 250px;
  }
}
.brand .logo img {
  height: 20px;
}
.brand .menu-btn {
  float: right;
  background: #232d3b;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 20px 20px;
}
@media only screen and (min-width: 992px) {
  .brand .menu-btn {
    display: none;
  }
}
.brand .ts-profile-nav {
  float: right;
  display: none;
}
.brand .ts-profile-nav li {
  float: left;
  position: relative;
}
.brand .ts-profile-nav li a {
  display: block;
  padding: 20px;
  color: #fff;
}
.brand .ts-profile-nav li ul {
  visibility: hidden;
  opacity: 0;
  right: 0;
  position: absolute;
}
.brand .ts-profile-nav li ul li {
  float: none;
  width: 180px;
}
.brand .ts-profile-nav li ul li a {
  padding: 10px 20px;
  background: #222;
}
.brand .ts-profile-nav .ts-account .fa-angle-down {
  float: right;
}
.brand .ts-profile-nav .ts-account > a {
  width: 180px;
  background: #2c3136;
}
.brand .ts-profile-nav .ts-account .ts-avatar {
  border-radius: 50%;
  height: 28px;
  margin: -10px 0;
  margin-right: 10px;
}
 .brand .ts-profile-nav .ts-account:hover ul {
  visibility: visible;
  opacity: 1;
}
@media only screen and (min-width: 992px) {
  .brand .ts-profile-nav {
    display: block;
  }
}

.ts-sidebar {
  background: #2c3136;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  top: 60px;
  overflow-y: auto;
}
.ts-sidebar .hidden-side {
  display: none;
}
.ts-sidebar .ts-sidebar-search {
  width: 100%;
  background: #25292a;
  border: none;
  padding: 10px 15px;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .ts-sidebar .ts-profile-nav {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .ts-sidebar {
    max-height: 100%;
    bottom: 0;
  }
}
.ts-sidebar-menu .ts-label {
  color: #585c64;
  font-weight: bold;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  margin-top: 10px;
}
.ts-sidebar-menu a {
  display: block;
  text-decoration: none;
  padding: 12px 15px;
  color: #fff;
}
.ts-sidebar-menu li {
  position: relative;
}
.ts-sidebar-menu li i {
  color: #585c64;
  margin-right: 10px;
}
.ts-sidebar-menu li ul {
  display: none;
  background: rgba(255, 0, 0, 0.12);
  background: rgba(0, 0, 0, 0.32);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;

}
.menu-open,
.ts-sidebar-menu .open ul {
  max-height: 2000px;
}
.ts-sidebar-menu .open > a {
  background: rgba(51, 56, 62, 0.35);
}
.ts-sidebar-menu > .open > a {
  background: #33383e;
  border-left: 3px solid #37a6c4;
}
.ts-sidebar-menu .open > .more i {
  transform: rotate(180deg);
}
.more i {
  color: #fff;
  padding: 15px;
  transition: transform 0.3s;
}
.more {
  float: right;
  min-width: 10%;
  cursor: pointer;
}
.ts-main-content .content-wrapper {
  padding-top: 15px;
  margin-top: 60px;
}
@media only screen and (min-width: 992px) {
  .ts-main-content .ts-sidebar {
    width: 250px;
    float: left;
  }
  .ts-main-content .content-wrapper {
    margin-left: 250px;
  }
}
.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-title {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 20px;
    font-size:30px;
}
